<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="3e69273f-d0de-406b-a4bb-f11f8b7d4d33" wadlVersion="http://wadl.dev.java.net/2009/02" name="GetUserByParam" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="3e69273f-d0de-406b-a4bb-f11f8b7d4d33fileName">GetUserByParam</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://tekschool-test-env.herokuapp.com</con:endpoint></con:endpoints></con:interface>